# ğŸ¼ Pandas å®Œæ•´å­¦ä¹ æ‰‹å†Œï¼ˆå¸¦å®æˆ˜ä»£ç ï¼‰

æœ¬ Notebook ç³»ç»Ÿæ¢³ç†äº† pandas çš„æ ¸å¿ƒçŸ¥è¯†ç‚¹ï¼Œæ¯éƒ¨åˆ†åŒ…å«ï¼š
- æ¦‚å¿µè¯´æ˜
- å®æˆ˜ä»£ç ï¼ˆå¸¦è¯¦ç»†æ³¨é‡Šï¼‰
- å¯ç›´æ¥è¿è¡ŒéªŒè¯

å»ºè®®é€èŠ‚è¿è¡Œå¹¶ä¿®æ”¹å‚æ•°åŠ æ·±ç†è§£ã€‚

In [ ]:
# å¯¼å…¥å¿…è¦åº“
import pandas as pd
import numpy as np

# è®¾ç½®æ˜¾ç¤ºé€‰é¡¹ï¼ˆå¯é€‰ï¼‰
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## 1. åŸºç¡€å…¥é—¨ï¼šDataFrame ä¸ Series

In [ ]:
# åˆ›å»º Series
s = pd.Series([1, 3, 5, np.nan, 6])
print("Series ç¤ºä¾‹:")
print(s)

# åˆ›å»º DataFrameï¼ˆä»å­—å…¸ï¼‰
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['NY', 'LA', 'Chicago']
})
print("\nDataFrame ç¤ºä¾‹:")
print(df)

# æŸ¥çœ‹åŸºæœ¬ä¿¡æ¯
print("\n--- åŸºæœ¬ä¿¡æ¯ ---")
print("å½¢çŠ¶ (è¡Œ, åˆ—):", df.shape)
print("\nå‰ä¸¤è¡Œ:")
print(df.head(2))
print("\næ•°æ®ç±»å‹:")
print(df.dtypes)
print("\nç»Ÿè®¡æ‘˜è¦:")
print(df.describe(include='all'))

## 2. æ•°æ®è¯»å–ä¸å†™å…¥

In [ ]:
# åˆ›å»ºç¤ºä¾‹æ•°æ®å¹¶ä¿å­˜ä¸º CSV
sample_data = pd.DataFrame({
    'id': [1, 2, 3],
    'value': [10.5, 20.1, 30.0],
    'date': ['2023-01-01', '2023-01-02', '2023-01-03']
})

# å†™å…¥ CSVï¼ˆä¸ä¿å­˜ç´¢å¼•ï¼‰
sample_data.to_csv('sample.csv', index=False)

# è¯»å– CSVï¼ˆè‡ªåŠ¨è§£ææ—¥æœŸï¼‰
df_read = pd.read_csv('sample.csv', parse_dates=['date'])
print("ä» CSV è¯»å–çš„æ•°æ®:")
print(df_read)
print("\næ—¥æœŸåˆ—ç±»å‹:", df_read['date'].dtype)

## 3. ç´¢å¼•ä¸é€‰æ‹©æ•°æ®

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['x', 'y', 'z', 'w'],
    'C': [10, 20, 30, 40]
}, index=['row1', 'row2', 'row3', 'row4'])

print("åŸå§‹ DataFrame:")
print(df)

# åˆ—é€‰æ‹©
print("\né€‰æ‹©åˆ— A:", df['A'].tolist())
print("é€‰æ‹©å¤šåˆ—:\n", df[['A', 'C']])

# è¡Œé€‰æ‹©ï¼šilocï¼ˆä½ç½®ï¼‰ vs locï¼ˆæ ‡ç­¾ï¼‰
print("\n.iloc[0:2]ï¼ˆå‰ä¸¤è¡Œï¼‰:\n", df.iloc[0:2])
print("\n.loc['row1':'row3']ï¼ˆæ ‡ç­¾åˆ‡ç‰‡ï¼‰:\n", df.loc['row1':'row3'])

# å¸ƒå°”ç´¢å¼•
print("\nA > 2 çš„è¡Œ:\n", df[df['A'] > 2])

# query æ–¹æ³•ï¼ˆæ›´ç®€æ´ï¼‰
print("\nquery('C > 25'):\n", df.query('C > 25'))

## 4. æ•°æ®æ¸…æ´—

In [ ]:
df_dirty = pd.DataFrame({
    'name': ['Alice', 'Bob', None, 'David'],
    'age': [25, np.nan, 30, 35],
    'score': [85, 90, 90, None]
})

print("åŸå§‹è„æ•°æ®:\n", df_dirty)

# æ£€æŸ¥ç¼ºå¤±å€¼
print("\nç¼ºå¤±å€¼ç»Ÿè®¡:\n", df_dirty.isna().sum())

# å¡«å……ç¼ºå¤±å€¼ï¼ˆæ•°å€¼åˆ—ç”¨å‡å€¼ï¼Œå­—ç¬¦åˆ—ç”¨ä¼—æ•°ï¼‰
df_clean = df_dirty.copy()
df_clean['age'].fillna(df_clean['age'].mean(), inplace=True)
df_clean['name'].fillna(df_clean['name'].mode()[0], inplace=True)  # mode() è¿”å› Series
df_clean['score'].fillna(-1, inplace=True)  # ç”¨ -1 æ ‡è®°ç¼ºå¤±

print("\næ¸…æ´—å:\n", df_clean)

# å»é‡
df_dup = pd.DataFrame({'A': [1, 1, 2], 'B': ['x', 'x', 'y']})
print("\nå»é‡å‰:\n", df_dup)
print("å»é‡å:\n", df_dup.drop_duplicates())

## 5. æ•°æ®å˜æ¢ä¸æ–°å¢åˆ—

In [ ]:
df = pd.DataFrame({
    'product': ['A', 'B', 'C'],
    'price': [100, 150, 200],
    'quantity': [10, 5, 8]
})

# æ–¹æ³•1ï¼šç›´æ¥èµ‹å€¼
df['total'] = df['price'] * df['quantity']

# æ–¹æ³•2ï¼šä½¿ç”¨ assignï¼ˆé“¾å¼æ“ä½œå‹å¥½ï¼‰
df = df.assign(discount=lambda x: x['total'] * 0.1)

# æ–¹æ³•3ï¼šapply è‡ªå®šä¹‰å‡½æ•°
df['category'] = df['price'].apply(lambda p: 'High' if p > 150 else 'Low')

# æ¡ä»¶èµ‹å€¼ï¼šnp.where
df['flag'] = np.where(df['quantity'] > 7, 'Popular', 'Normal')

print("å˜æ¢å DataFrame:\n", df)

## 6. åˆ†ç»„ä¸èšåˆï¼ˆGroupByï¼‰

In [ ]:
sales = pd.DataFrame({
    'region': ['North', 'South', 'North', 'South', 'East'],
    'product': ['A', 'A', 'B', 'B', 'A'],
    'amount': [100, 150, 200, 120, 90]
})

print("é”€å”®æ•°æ®:\n", sales)

# åŸºç¡€åˆ†ç»„èšåˆ
print("\næŒ‰ region æ±‚å’Œ:\n", sales.groupby('region')['amount'].sum())

# å¤šåˆ—èšåˆ
print("\nå¤šæŒ‡æ ‡èšåˆ:\n", sales.groupby('region').agg({
    'amount': ['sum', 'mean'],
    'product': 'count'
}))

# transformï¼šå¹¿æ’­å›åŸ DataFrame
sales['region_avg'] = sales.groupby('region')['amount'].transform('mean')
print("\næ·»åŠ åŒºåŸŸå¹³å‡å€¼å:\n", sales)

## 7. åˆå¹¶ä¸è¿æ¥

In [ ]:
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'id': [1, 2, 4], 'salary': [5000, 6000, 7000]})

print("df1:\n", df1)
print("\ndf2:\n", df2)

# å†…è¿æ¥ï¼ˆäº¤é›†ï¼‰
inner = pd.merge(df1, df2, on='id', how='inner')
print("\nå†…è¿æ¥:\n", inner)

# å·¦è¿æ¥ï¼ˆä¿ç•™ df1 æ‰€æœ‰è¡Œï¼‰
left = pd.merge(df1, df2, on='id', how='left')
print("\nå·¦è¿æ¥:\n", left)

# çºµå‘æ‹¼æ¥ï¼ˆconcatï¼‰
df3 = pd.DataFrame({'id': [4, 5], 'name': ['David', 'Eve']})
concatenated = pd.concat([df1, df3], ignore_index=True)
print("\nçºµå‘æ‹¼æ¥:\n", concatenated)

## 8. é‡å¡‘ä¸é€è§†è¡¨

In [ ]:
# å®½è¡¨è½¬é•¿è¡¨ï¼ˆmeltï¼‰
wide = pd.DataFrame({
    'product': ['A', 'B'],
    'Q1': [100, 150],
    'Q2': [120, 160]
})
long = wide.melt(id_vars='product', var_name='quarter', value_name='sales')
print("å®½è¡¨:\n", wide)
print("\né•¿è¡¨ï¼ˆmeltï¼‰:\n", long)

# é€è§†è¡¨ï¼ˆé•¿è¡¨è½¬å®½è¡¨ï¼‰
pivot = long.pivot(index='product', columns='quarter', values='sales')
print("\né€è§†è¡¨:\n", pivot)

# pivot_table æ”¯æŒèšåˆï¼ˆå¤„ç†é‡å¤ï¼‰
long_dup = pd.concat([long, long])  # åˆ¶é€ é‡å¤
pivot_agg = pd.pivot_table(long_dup, values='sales', index='product', columns='quarter', aggfunc='mean')
print("\nå¸¦èšåˆçš„é€è§†è¡¨:\n", pivot_agg)

## 9. æ—¶é—´åºåˆ—å¤„ç†

In [ ]:
# åˆ›å»ºæ—¶é—´åºåˆ—æ•°æ®
dates = pd.date_range('2023-01-01', periods=10, freq='D')
ts = pd.DataFrame({
    'date': dates,
    'value': np.random.randn(10).cumsum()
})
ts.set_index('date', inplace=True)

print("æ—¶é—´åºåˆ—æ•°æ®:\n", ts.head())

# é‡é‡‡æ ·ï¼ˆæ—¥ â†’ å‘¨ï¼‰
weekly = ts.resample('W').mean()
print("\nå‘¨å‡å€¼:\n", weekly)

# ç§»åŠ¨çª—å£ï¼ˆ7å¤©æ»šåŠ¨å‡å€¼ï¼‰
ts['rolling_mean'] = ts['value'].rolling(window=3).mean()
print("\nå¸¦æ»šåŠ¨å‡å€¼:\n", ts.head())

## 10. é“¾å¼æ“ä½œä¸æœ€ä½³å®è·µ

In [ ]:
# ç¤ºä¾‹ï¼šé“¾å¼æ•°æ®å¤„ç†
result = (pd.DataFrame({
            'category': ['A', 'B', 'A', 'B', 'A'],
            'value': [10, 20, 30, 40, 50]
        })
        .query('value > 15')
        .assign(ratio=lambda x: x['value'] / x['value'].sum())
        .groupby('category')
        .agg(total=('value', 'sum'), count=('value', 'size'))
        .reset_index()
       )

print("é“¾å¼æ“ä½œç»“æœ:\n", result)

## ğŸ‰ å®Œæˆï¼

ä½ ç°åœ¨æ‹¥æœ‰ä¸€ä»½å®Œæ•´çš„ pandas å­¦ä¹ æ‰‹å†Œï¼

**å»ºè®®ï¼š**
- ä¿®æ”¹ä»£ç ä¸­çš„æ•°æ®ï¼Œè§‚å¯Ÿè¾“å‡ºå˜åŒ–
- å°è¯•ç”¨è‡ªå·±çš„æ•°æ®é›†å®è·µ
- å°†æ­¤ Notebook ä½œä¸ºæ—¥åå‚è€ƒ